/*
Print format 
CSS page
*/

#PISA, nav, #SCHEDULE, #VIDEO, .survey, #REQ {
	display: none;
}

body header h2 {
	text-align: center;
	font-size: 24pt;
	text-decoration: underline;
}

.meals, .websites, .me, footer {
	text-align: center;
}
